<!DOCTYPE html>
<html>

<head>
  <title>Code Review/Merge Request</title>
</head>
<body link="blue" vlink="purple" style="width:100%;margin:0;">
 <div style="width:100%;padding:0;margin:0;display:block;">
  <table style="border: 0; border-spacing: 0;width:100.0%;height:40px;background:#eeeeee;">
   <tbody>
    <tr>
      <td valign="middle" style="padding:8px;font-size:16px;font-weight:bold;font-family:Helvetica, Arial, sans-serif;color:#666666;">
        Review Request: [[${mergeRequest.title}]]
      </td>
    </tr>
   </tbody>
  </table>
 </div>
 <div style="width:100%;padding:0;margin:0;display:block;">
  <table style="border: 0; border-spacing: 0;width:100.0%">
    <tbody>
      <tr>
        <td style="padding:10px">
          <p style="font-family:Helvetica, Arial, sans-serif;color:#666666;">
            Please click on the following link to 
            review and process the request for code review/merge:
          </p>
          <p style="font-family:Helvetica, Arial, sans-serif;">
            <strong>Request Title:</strong><a th:href="${mergeRequestLink}">[[${mergeRequest.title}]]</a><br/>
            <strong>Pushed Branch:</strong> [[${group}]] / [[${projectName}]] / [[${branch}]]<br/>
            <strong>Requested by :</strong> [[${author.name}]]
          </p>
        </td>
      </tr>
      <tr>
        <td style="padding:10px">
          <p style="font-family:Helvetica, Arial, sans-serif;color:#666666;">You're receiving this notification because you
          are a member of the [[${group}]] / [[${projectName}]] project team and are tasked with doing code review and merge requests.</p>
        </td>
      </tr>
    </tbody>
  </table>
 </div>
</body>
</html>
